<div>
    <!--<search-component></search-component>
  <search-result-component></search-result-component>
    <label-component [message]="'Hello from first label'"></label-component>
     <header-component>
        <label-component [message]="'Hello from second label from header'"></label-component>
     </header-component> 
     <header-component>
        <output>Some content</output>
     </header-component> 
     <footer-component></footer-component>
     <basic-calculator-component></basic-calculator-component>
     <output (click)="checkLogger()">check logger</output> -->
     <p appHover>Helooo</p>
</div>